body {
    padding: 0;
    outline: none;
    background-color: #08090A;
    --mercurySpeed: 2s;
    --venusSpeed: 5.1428s;
    --earthSpeed: 8.348s;
    --marsSpeed: 15.7s;
    --jupiterSpeed: 100.112s;
    --saturnSpeed: 241.942s;
    --uranusSpeed: 700.8s;
    --neptuneSpeed: 1376.5714s;
    /* --asteroidSpeed: 40s; */
    --orbit: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    border: none;
    height: 100%;
    width: 100%;
}
.background-image {
    position: fixed;
    margin-top: -2%;
    margin-left: -2%;
    height: 150vh;
    z-index: -200;
    opacity: 0.3;
    filter: contrast(2);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
}
.planet,.star, .orbit-path {
    position: absolute;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    box-shadow: -5px 0 25px rgba(255, 255, 255, 0.192);
}
.sun {
    --size: 7vw;
    background:url(Imgs/sun.jpg);
    background-size: cover;
    /* background: linear-gradient(45deg, rgb(238, 146, 28), yellow); */
    animation: sun 10s infinite linear;
    box-shadow: 0 0 200px rgb(255, 255, 0), 0 0 150px rgb(255, 255, 0), 0 0 50px rgb(255, 255, 0);
}
.mercury {
    --size: 0.9vw;
    background:url(Imgs/mercury.jpeg);
    background-size: cover;
    animation: mercury var(--mercurySpeed) infinite linear;
}
.venus {
    --size: 1.2vw;
    background:url(Imgs/venus.jpeg);
    background-size: cover;
    /* background: linear-gradient(90deg, rgb(240, 84, 28), rgb(53, 14, 0)); */
    animation: venus var(--venusSpeed) infinite linear;
}
.earth {
    --size: 1.6vw;
    background:url(Imgs/earth.jpg);
    background-size: cover;
    /* background: linear-gradient(90deg, rgb(157, 192, 255), rgb(21, 39, 75)); */
    animation: earth var(--earthSpeed) infinite linear;
}
.moon {
    --size: 0.38vw;
    background: linear-gradient(90deg, rgb(236, 236, 236), rgb(100, 100, 100));
    animation: moon calc(var(--earthSpeed) / 13.83846) infinite linear;
}
.mars {
    --size: 1.2vw;
    background:url(Imgs/mars.jpeg);
    background-size: cover;
    /* background: linear-gradient(90deg, rgb(238, 43, 82), rgb(70, 8, 20)); */
    animation: mars var(--marsSpeed) infinite linear;
  }
  
.jupiter {
    --size: 5vw;
    background:url(Imgs/jupiter.jpeg);
    background-size: cover;
    /* background: linear-gradient(90deg, rgb(255, 148, 136), rgb(73, 37, 33)); */
    animation: jupiter var(--jupiterSpeed) infinite linear;
}

.saturn {
    --size: 3.5vw;
    background:url(Imgs/saturn.jpeg);
    background-size: cover;
    /* background: linear-gradient(90deg, rgb(255, 170, 85), rgb(63, 40, 16)); */
    animation: saturn var(--saturnSpeed) infinite linear;
}
  
/* .saturn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140%;
    height: 10px;
    border: 0.7vw solid beige;
    border-top: 0;
    transform: translate(-50%, -50%) rotate(30deg);
    border-radius: 50%;
    z-index: 100;
} */
  
.uranus {
    --size: 2vw;
    background:url(Imgs/uranus.jpeg);
    background-size: cover;
    /* background: linear-gradient(90deg, rgb(100, 176, 248), rgb(0, 46, 61)); */
    animation: uranus var(--uranusSpeed) infinite linear;
}
  
.neptune {
    --size: 1.7vw;
    background:url(Imgs/neptune.jpeg);
    background-size: cover;
    /* background: linear-gradient(90deg, rgb(56, 225, 255), rgb(0, 82, 64)); */
    animation: neptune var(--neptuneSpeed) infinite linear;
}
.mercury-orbit {
    position: absolute;
    --size: 9.5vw;
    border: 2px solid var(--orbit);
    border-radius: 50%;
    list-style: none;
    z-index: -100;
    margin-left: -0.1vw;
    margin-top: -0.1vw;
}
.venus-orbit {
    position: absolute;
    --size: 15.5vw;
    border: 2px solid var(--orbit);
    border-radius: 50%;
    list-style: none;
    z-index: -100;
}
.earth-orbit {
    position: absolute;
    --size:21.5vw;
    border: 2px solid var(--orbit);
    border-radius: 50%;
    list-style: none;
    z-index: -100;
}
.mars-orbit {
    position: absolute;
    --size: 27.5vw;
    border: 2px solid var(--orbit);
    border-radius: 50%;
    list-style: none;
    z-index: -100;
}
  
.jupiter-orbit {
    position: absolute;
    --size: 39vw;
    border: 2px solid var(--orbit);
    border-radius: 50%;
    list-style: none;
    z-index: -100;
}
  
.saturn-orbit {
    position: absolute;
    --size: 52vw;
    border: 2px solid var(--orbit);
    border-radius: 50%;
    list-style: none;
    z-index: -100;
}
  
.uranus-orbit {
    position: absolute;
    --size: 65.5vw;
    border: 2px solid var(--orbit);
    border-radius: 50%;
    background: none;
    list-style: none;
    z-index: -100;
    box-shadow: none;
  
}
  
.neptune-orbit {
    position: absolute;
    --size: 73.5vw;
    border: 2px solid var(--orbit);
    border-radius: 50%;
    background: none;
    list-style: none;
    z-index: -100;
    box-shadow: none;
}
.Showorbits{
  color: white;
  font-size:20px;
  margin-top: 10px;
  margin-left: 10px;

}
.checkbox {
  position: relative;
  appearance: none;
  /* used to style an element based on plantform styling */
  -webkit-appearance: none;
  background: transparent;
  height: 20px;
  width: 80px;
  border: 2px solid rgba(255, 255, 255, 0.637);
  border-radius: 40px;
  margin-left: 10px;
  transition-duration: 0.3s;
}
.checkbox:hover::after {
  background-color: white;
  border: 2px solid white;
}

.checkbox::after {
  background-color: rgb(218, 218, 218);
  color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.836);
}
.checkbox:checked {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.281);
}

.showing {
  opacity: 1;
  transition-duration: 0.6s;
}

.hiding {
  opacity: 0;
  transition-duration: 0.6s;
}
.slider-container {
  width: 42vh;
  height: 15px;
  border-radius: 5px;
  margin-top: 10px;

}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  opacity: 1;
  transition-duration: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  border:2px solid white;
  background: none;
}
.slider:hover {
  opacity: 2;
  box-shadow: 0 0 20px rgba(247, 245, 245, 0.192);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 45%;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}
.options-button{
  background-color: black;
  color: white;
  border-radius: 15px;
  border: 2px solid white;
  padding: 8px 15px;
  margin-right: 10px;
}
.options-button:hover{
  box-shadow: 0 0 20px rgba(247, 245, 245, 0.192);
}
/* animations lets an element gradually change its style from one to another in the given duration  */
/* key frames are used to specify the animations */
/* transform: modifies the appearance , rotate,scale,translate,skew */
@keyframes mercury {
    from {
      transform: rotate(0deg) translate(5vw);
    }
  
    to {
      transform: rotate(360deg) translate(5vw);
    }
}
@keyframes venus {
    from {
      transform: rotate(0deg) translate(8vw);
    }
  
    to {
      transform: rotate(360deg) translate(8vw);
    }
}
  
@keyframes earth {
    from {
      transform: rotate(0deg) translate(11vw);
    }
  
    to {
      transform: rotate(360deg) translate(11vw);
    }
} 
@keyframes mars {
    from {
      transform: rotate(0deg) translate(14vw);
    }
  
    to {
      transform: rotate(360deg) translate(14vw);
    }
}
/* Animation key frames  */
@keyframes jupiter {
    from {
      transform: rotate(0deg) translate(19vw);
    }
  
    to {
      transform: rotate(360deg) translate(19vw);
    }

}
  
@keyframes saturn {
    from {
      transform: rotate(0deg) translate(26vw);
    }
  
    to {
      transform: rotate(360deg) translate(26vw);
    }
}
  
@keyframes uranus {
    from {
      transform: rotate(0deg) translate(33vw);
    }
  
    to {
      transform: rotate(360deg) translate(33vw);
    }
}
  
@keyframes neptune {
    from {
      transform: rotate(0deg) translate(37vw);
    }
  
    to {
      transform: rotate(360deg) translate(37vw);
    }
}
  
@keyframes moon {
    from {
      transform: rotate(0deg) translate(1.5vw);
    }
  
    to {
      transform: rotate(360deg) translate(1.5vw);
    }
}
@keyframes sun {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}
